
ProjectF/Library/ArtifactDB
ProjectF/Library/ArtifactDB
ProjectF/Library/Bee/1300b0aEDbg.dag.json
ProjectF/Library/Bee/artifacts/1300b0aEDbg.dag/Assembly-CSharp.rsp
ProjectF/Library/Bee/fullprofile.json
ProjectF/Library/Search/transactions.db
ProjectF/Library/SourceAssetDB
ProjectF/Logs/AssetImportWorker0.log
ProjectF/Logs/AssetImportWorker1.log
ProjectF/Logs/shadercompiler-AssetImportWorker0.log
ProjectF/Logs/shadercompiler-UnityShaderCompiler.exe0.log
